.btnOpen {
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid rgb(177, 177, 177);
  font-size: 1.5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: #fff;
  position: relative;
}
.btnOpen i {
  display: flex;
  transform: translateY(2px);
}
.btnOpen p {
  margin: 0;
}

.list {
  position: absolute;
  list-style: none;
  background-color: #fff;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgb(177, 177, 177);
  overflow: auto;
  height: 20rem;
  z-index: 10;
}
